* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Colors variables
   ========================================================================== */
.ding_nodelist-col-full {
  width: 100%;
}

.ding_nodelist {
  overflow: hidden;
  margin-bottom: 20px;
}
.ding_nodelist .node .item-date,
.ding_nodelist .node .library,
.ding_nodelist .node .item-price,
.ding_nodelist .data .event-timestamp,
.ding_nodelist .data .event-details,
.ding_nodelist .item-details .item-date,
.ding_nodelist .item-details .item-library,
.ding_nodelist .item-details .item-price {
  font-size: 85%;
}
.ding_nodelist .node > p {
  margin: 10px 0;
}
.ding_nodelist .node-title {
  text-decoration: underline;
}
.ding_nodelist .node-title a {
  color: #fff;
}
.ding_nodelist .more {
  display: none;
}
.ding_nodelist .event-time {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 49;
  padding: 0 0 5px;
  width: 60px;
  background-color: #fff;
  text-align: center;
}
.ding_nodelist .event-time .event-day {
  background: #4d898e;
  color: #fff;
  margin-bottom: 5px;
  font-size: 80%;
  line-height: 1.4;
}
.ding_nodelist .event-time .event-day a {
  color: #fff;
}
.ding_nodelist .event-time .event-day a:hover {
  text-decoration: none;
}
.ding_nodelist .event-time .event-date,
.ding_nodelist .event-time .event-month {
  line-height: 1;
}
.ding_nodelist .event-time .event-date {
  font-size: 120%;
}
.ding_nodelist .event-time .event-month {
  font-size: 80%;
}
.ding_nodelist .event-label {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 68px;
  background-image: url("../images/p.png");
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.ding_nodelist .label {
  margin: 10px 5px;
}
.ding_nodelist .label-wrapper {
  margin: 10px 0;
}
.ding_nodelist .node, .ding_nodelist.ding_nodelist-horizontal_accordion .data {
  min-height: 40px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
}
.ding_nodelist .more a {
  color: #fff;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 120%;
}
.ding_nodelist .article-info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 49;
  width: 100%;
}

.node {
  height: auto;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: justify;
  vertical-align: baseline;
  color: #5f6a5f;
}

.ding_nodelist-single {
  overflow: hidden;
  background-color: #fff;
  height: 390px;
}
.ding_nodelist-single .ding_nodelist-items {
  height: 100%;
}
.ding_nodelist-single .article_image a,
.ding_nodelist-single .event-image a {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.ding_nodelist-single .article_image img,
.ding_nodelist-single .event-image img {
  display: none;
}
.ding_nodelist-single .item {
  position: relative;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-single .item {
    height: 381px;
  }
  .ding_nodelist-single .item .event-label,
  .ding_nodelist-single .item .event-time {
    visibility: hidden;
  }
}
.ding_nodelist-single h3 {
  margin: 0 0 10px 0;
}
.ding_nodelist-single h3 a {
  display: block;
  color: #fff;
}

.ding_nodelist-carousel {
  position: relative;
  height: 391px;
  overflow: inherit;
}
.ding_nodelist-carousel .item {
  position: relative;
  height: 391px;
}
.ding_nodelist-carousel h2 {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 49;
  color: #fff;
}
.ding_nodelist-carousel .next-prev {
  display: none;
  position: relative;
  top: 10px;
  left: 0;
}
.ding_nodelist-carousel .next-prev span {
  display: none;
}
.ding_nodelist-carousel .next-prev .prev {
  left: 10px;
}
.ding_nodelist-carousel .next-prev .prev:after {
  content: '\f053';
}
.ding_nodelist-carousel .next-prev .next {
  left: 40px;
}
.ding_nodelist-carousel .next-prev .next:after {
  content: '\f054';
}
.ding_nodelist-carousel .next-prev .prev,
.ding_nodelist-carousel .next-prev .next {
  position: absolute;
  top: 10px;
}
.ding_nodelist-carousel .next-prev .prev:hover,
.ding_nodelist-carousel .next-prev .next:hover {
  border-radius: 50px;
  background-color: #ccc;
  text-decoration: none;
}
.ding_nodelist-carousel .next-prev .prev:hover:after,
.ding_nodelist-carousel .next-prev .next:hover:after {
  color: #ccc;
}
.ding_nodelist-carousel .next-prev .prev:after,
.ding_nodelist-carousel .next-prev .next:after {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  font-family: 'icomoon';
}
.ding_nodelist-carousel .pagination {
  right: 10px;
  top: 10px;
  position: absolute;
}
.ding_nodelist-carousel .pagination a {
  border-radius: 50px;
  background-color: #ccc;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  line-height: 2;
}
.ding_nodelist-carousel .pagination .selected {
  background-color: #4d898e;
  color: #fff;
}
.ding_nodelist-carousel h3 {
  margin: 3px 0;
  padding: 0;
  text-align: left;
}
.ding_nodelist-carousel h3 a {
  margin-right: 10px;
  color: #fff;
}
.ding_nodelist-carousel .article_image,
.ding_nodelist-carousel .event-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ding_nodelist-carousel .article_image a,
.ding_nodelist-carousel .event-image a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.ding_nodelist-carousel .field-type-image {
  margin: 0 auto;
}
.ding_nodelist-carousel .article_image img,
.ding_nodelist-carousel .event-image img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-carousel .article_image img,
  .ding_nodelist-carousel .event-image img {
    display: none;
  }
}
.ding_nodelist-carousel .article_image .field-label,
.ding_nodelist-carousel .event-image .field-label {
  display: none;
}

.ding_nodelist-horizontal_accordion {
  background: #000;
  overflow: hidden;
}
.ding_nodelist-horizontal_accordion .item {
  position: relative;
}
.ding_nodelist-horizontal_accordion .item_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.ding_nodelist-horizontal_accordion .expand {
  border-radius: 50px;
  position: absolute;
  bottom: 75px;
  left: 10px;
  z-index: 10;
  display: block;
  background-color: #4d898e;
  color: #fff;
  cursor: pointer;
}
.ding_nodelist-horizontal_accordion .expand:after {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 2;
  color: #fff;
  content: '\e903';
  text-align: center;
  font-family: 'icomoon';
}
.ding_nodelist-horizontal_accordion .expand a {
  display: none;
}
.ding_nodelist-horizontal_accordion .slide-open .expand {
  right: 10px;
  left: auto;
}
.ding_nodelist-horizontal_accordion .slide-open .expand:after {
  content: '\e909';
}
.ding_nodelist-horizontal_accordion .slide-open .image img {
  opacity: 1;
}
.ding_nodelist-horizontal_accordion .image a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  background-color: #000;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-horizontal_accordion .image a {
    width: 310px;
    height: 260px;
  }
}
@media screen and (max-width: 950px) {
  .ding_nodelist-horizontal_accordion .image a {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 1100px) {
  .ding_nodelist-horizontal_accordion .image a {
    width: 450px;
    height: 340px;
  }
}
.ding_nodelist-horizontal_accordion .image img {
  opacity: .25;
  min-width: 100%;
  width: auto;
  height: 100%;
}
.ding_nodelist-horizontal_accordion .data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
}
.ding_nodelist-horizontal_accordion .data span,
.ding_nodelist-horizontal_accordion .data .event-fee {
  margin-right: 5px;
}
.ding_nodelist-horizontal_accordion .data a {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-horizontal_accordion .data a {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: clip;
  }
}
.ding_nodelist-horizontal_accordion .caption {
  overflow: hidden;
}
.ding_nodelist-horizontal_accordion .caption h3 {
  max-height: 30px;
  margin: 5px 0;
}
.ding_nodelist-horizontal_accordion .library {
  overflow: hidden;
  max-height: 24px;
}
.ding_nodelist-horizontal_accordion .library > div {
  float: left;
}

.ding_nodelist-vertical_accordion .va-slice {
  cursor: pointer;
}

.va-wrapper {
  position: relative;
}
.va-wrapper .ding_nodelist-items .news {
  background-color: #fff;
  background-repeat: no-repeat;
}
.va-wrapper .item {
  position: absolute;
  z-index: 10;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.va-wrapper .item:first-of-type {
  border-top: 0;
}
.va-wrapper .va-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  background-image: url("../images/p.png");
  width: 100%;
}
.va-wrapper .va-content,
.va-wrapper .va-content h3,
.va-wrapper .va-content a {
  color: #fff;
}
.va-wrapper .va-content .label {
  margin-left: 0;
}
.va-wrapper .va-content .inner-wrapper {
  margin: 10px;
}
.va-wrapper .active .va-content {
  visibility: visible;
}
.va-wrapper .va-title {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 950px) {
  .va-wrapper .va-title {
    visibility: hidden;
  }
  .va-wrapper .active .va-title {
    visibility: visible;
  }
}

.ding_nodelist-slider {
  position: relative;
  background-color: #fff;
  padding-top: 10px;
}
.ding_nodelist-slider .item {
  min-height: 122px;
}
.ding_nodelist-slider .node {
  background: none;
  color: #000;
  padding: 0;
}
.ding_nodelist-slider .item-body {
  margin-top: 10px;
}
.ding_nodelist-slider .more a {
  color: #000;
}
.ding_nodelist-slider .label {
  margin: 0;
}
.ding_nodelist-slider .category {
  float: right;
  margin-top: 4px;
  padding-right: 10px;
}
@media screen and (max-width: 1100px) {
  .ding_nodelist-slider .legend {
    float: right;
    margin-bottom: 10px;
    padding-right: 2em;
  }
}
@media screen and (max-width: 950px) {
  .ding_nodelist-slider .legend {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
  }
}
.ding_nodelist-slider .legend span {
  display: block;
}
.ding_nodelist-slider .ding_nodelist-items {
  float: right;
  margin-right: 40px;
  width: 600px;
  margin-right: 40px;
}
@media screen and (max-width: 950px) {
  .ding_nodelist-slider .ding_nodelist-items {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  .ding_nodelist-slider .ding_nodelist-items {
    width: 600px;
    padding-left: 10px;
    padding-top: 0;
  }
}
.ding_nodelist-slider .item {
  margin-bottom: 10px;
}
.ding_nodelist-slider h3.node-title {
  margin-bottom: 5px;
}
.ding_nodelist-slider h3.node-title a {
  color: #808285;
}
.ding_nodelist-slider .node {
  margin-top: 0;
  padding-left: 0;
  width: 100%;
}
.ding_nodelist-slider .more {
  margin-bottom: 5px;
}
@media screen and (max-width: 950px) {
  .ding_nodelist-slider .more a {
    display: inline-block;
    padding: 5px 10px;
  }
}
.ding_nodelist-slider .next-prev {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 25px;
}
.ding_nodelist-slider .next-prev span {
  display: none;
}
.ding_nodelist-slider .next-prev a {
  border-radius: 50px;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #4d898e;
  color: #fff;
}
.ding_nodelist-slider .next-prev a:hover {
  background-color: #ccc;
}
.ding_nodelist-slider .next-prev a:after {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #fff;
  content: '\e905';
  text-align: center;
  font-family: 'icomoon';
}
.ding_nodelist-slider .next-prev .next {
  bottom: 10px;
}
.ding_nodelist-slider .next-prev .next:after {
  content: '\e903';
  transform: rotate(90deg);
}
.ding_nodelist-slider .next-prev .prev {
  top: 10px;
}
.ding_nodelist-slider .next-prev .prev:after {
  content: '\e903';
  transform: rotate(-90deg);
}

.ding_nodelist-slider {
  height: 400px;
  overflow: hidden;
}
.ding_nodelist-slider ul li {
  list-style: none;
}
.ding_nodelist-slider ul li .library {
  float: left;
  clear: left;
}
.ding_nodelist-slider ul li .library .field-label {
  display: none;
}
.ding_nodelist-slider ul li .library .field-item a {
  display: inline-block;
}
.ding_nodelist-slider ul li .item-price {
  display: inline-block;
  clear: left;
  padding-left: 5px;
}
.ding_nodelist-slider .legend {
  float: left;
  width: 300px;
}

.col3 .ding_nodelist-taxonomy .item .item-list-image,
.col4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.attachments-3-3 .ding_nodelist-taxonomy .item .item-list-image,
.tertiary-content .ding_nodelist-taxonomy .item .item-list-image,
.attachments-4-4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.ding_nodelist-taxonomy {
  background-color: #f1f2f2;
  padding: 15px;
}
.ding_nodelist-taxonomy .event-list-leaf {
  background: #ccc;
  padding: 10px;
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-date-wrapper {
  display: inline-block;
  font-size: 75%;
  margin-right: 10px;
  min-width: 65px;
  text-align: center;
  vertical-align: top;
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-date-wrapper .event-list-day {
  line-height: 16.8px;
  background-color: #4d898e;
  color: #fff;
  display: block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-date-wrapper .event-list-inner-wrapper {
  background: #fff;
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-date-wrapper .event-list-date {
  display: block;
  font-size: 130%;
  padding-top: 5px;
  margin-bottom: -10px;
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-date-wrapper .event-list-month {
  display: inline-block;
  font-size: 75%;
  min-width: 65px;
  text-align: center;
  vertical-align: top;
}
.ding_nodelist-taxonomy .event-list-leaf .event-list-fulldate {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  font-size: 130%;
  font-weight: normal;
  margin-top: 17px;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-list-image,
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-library .field-label {
  display: none;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-details {
  display: block;
  padding: 10px;
  width: calc(100% - 20px);
  position: relative;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-title {
  font-size: 110%;
  margin-right: 25px;
  margin-bottom: 5px;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-body {
  display: none;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-library,
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-date,
.ding_nodelist-taxonomy .event-list-leaf ~ .item .item-price {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-right: 5px;
  float: left;
}
.ding_nodelist-taxonomy .event-list-leaf ~ .item .event-arrow-link {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}
.ding_nodelist-taxonomy .item {
  background-color: #e5e5e5;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  display: table;
  position: relative;
}
.ding_nodelist-taxonomy .item .item-details {
  overflow: hidden;
}
.ding_nodelist-taxonomy .item .item-byline {
  display: none;
}
.ding_nodelist-taxonomy .item .item-title {
  font-size: 120%;
  margin-bottom: 5px;
}
.ding_nodelist-taxonomy .item .item-title a {
  font-weight: 700;
}
.ding_nodelist-taxonomy .item .news-link {
  top: 20px;
  right: 20px;
  position: absolute;
}
.ding_nodelist-taxonomy .item .item-body {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 550px;
}
@media screen and (max-width: 600px) {
  .ding_nodelist-taxonomy .item .item-body {
    color: rgba(0, 0, 0, 0.7);
  }
}
@media screen and (max-width: 600px) {
  .ding_nodelist-taxonomy .item .item-list-image {
    display: none;
  }
}
.ding_nodelist-taxonomy .item .item-details,
.ding_nodelist-taxonomy .item .item-list-image {
  padding: 20px;
}
.ding_nodelist-taxonomy .item .item-details,
.ding_nodelist-taxonomy .item .item-list-image {
  display: table-cell;
  vertical-align: top;
}
.ding_nodelist-taxonomy .item .item-list-image {
  padding-right: 10px;
  width: 159px;
}
.ding_nodelist-taxonomy .item .item-list-image img {
  width: 159px;
  height: auto;
  min-width: 159px;
}
