/*
Error: Undefined mixin 'span'.
        on line 828 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss, in `span'
        from line 828 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss, in `@content'
        from line 99 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `@content'
        from line 46 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `respond-to'
        from line 99 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `from-medium'
        from line 827 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss

823:     }
824: 
825:     // Media from-medium
826: 
827:     @include from-medium() {
828:       @include span(4 of 12);
829:       text-align: right;
830:     }
831: 
832:     h2 {
833: 

Backtrace:
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss:828:in `span'
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss:828:in `@content'
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss:99:in `@content'
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss:46:in `respond-to'
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss:99:in `from-medium'
/home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss:827
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `block (3 levels) in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:381:in `block (2 levels) in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:380:in `block in visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:376:in `visit_content'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:512:in `visit_media'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:299:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:302:in `visit_if'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.1.2/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/bin/compass:44:in `call'
/usr/local/rvm/gems/ruby-2.1.2/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/usr/local/rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'span'.\A         on line 828 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss, in `span'\A         from line 828 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss, in `@content'\A         from line 99 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `@content'\A         from line 46 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `respond-to'\A         from line 99 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/_mixins.scss, in `from-medium'\A         from line 827 of /home/ac/__builds__/easyddb/modules/ding_nodelist/sass/ding_nodelist.scss\A \A 823:     }\A 824: \A 825:     // Media from-medium\A 826: \A 827:     @include from-medium() {\A 828:       @include span(4 of 12);\A 829:       text-align: right;\A 830:     }\A 831: \A 832:     h2 {\A 833: "; }
