@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

/* Colors variables
   ========================================================================== */

$grey-transparent-bg:     rgba( 0, 0, 0, 0.7);
$orange:                  #ea6621;
$green_light:             #b9c650;
$blue:                    #008abe;
$purple:                  #a34da4;
$marine:                  #47cfd1;

$label-bg: url('../images/p.png');

.ding_nodelist-col-full {
 width: 100%;
}

// All nodelists
//==========================================================================

.ding_nodelist {
  overflow: hidden;
  margin-bottom: 20px;

  .node .item-date,
  .node .library,
  .node .item-price,
  .data .event-timestamp,
  .data .event-details,
  .item-details .item-date,
  .item-details .item-library,
  .item-details .item-price {
    font-size: 85%;
  }

  .node > p {
    margin: 10px 0;
  }

  .node-title {
    text-decoration: underline;

    a {
      color: $white;
    }
  }

  .more {
    display: none;
  }

  // Event timestamp
  .event-time {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 49;
    padding: 0 0 5px;
    width: 60px;
    background-color: $white;
    text-align: center;

    // Event day
    .event-day {
      background: $color-primary;
      color: $white;
      margin-bottom: 5px;
      font-size: 80%;
      line-height: 1.4;

      a {
        color: $white;
      }

      a:hover {
        text-decoration: none;
      }
    }

    // Day
    .event-date,
    .event-month {
      line-height: 1;
    }

    .event-date  { font-size: 120%; }
    .event-month { font-size:  80%; }

  }

  // Event label
  .event-label {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 68px;
    background-image: $label-bg;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  // Category
  .label {
    margin: 10px 5px;
  }

  .label-wrapper {
    margin: 10px 0;
  }

  // Node info wrapper
  .node,
  &.ding_nodelist-horizontal_accordion .data {
    min-height: 40px;
    overflow: hidden;
    background-color: $grey-transparent-bg;
    color: $white;
    padding: 10px;
  }

    // More link
  .more {
    a {
      color: $white;
      display: block;
      text-align: right;
      text-decoration: none;
      font-size: 120%;
    }
  }

  // Text wrapper
  .article-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 49;
    width: 100%;
  }
}

//Info
.node {
  height: auto;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: justify;
  vertical-align: baseline;
  color: #5f6a5f;
}

// Ding nodelist single item
//==========================================================================
.ding_nodelist-single {
  overflow: hidden;
  background-color: $white;
  height: 390px;

  .ding_nodelist-items {
    height: 100%;
  }

  // Image
  .article_image,
  .event-image {

    a {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    img {
      display: none;
    }
  }

  .item {
    position: relative;
    height: 100%;

    .node {
      padding-left: 10px;

      .library .field-label {
        display: none;
      }
    }

    // Media small
    @include media($mobile) {
      height: 381px;

    // Date
    .event-label,
    .event-time {
        visibility: hidden;
      }
    }
  }

  // Title
  h3 {
    margin: 0 0 10px 0;

    a {
      display: block;
      color: $white;
    }
  }
}

// Ding nodelist carousel
//==========================================================================

.ding_nodelist-carousel {
  position: relative;
  height: 391px;
  overflow: inherit;

  .item {
    position: relative;
    height: 391px;

    .node {
      padding-left: 10px;

      .library .field-label {
        display: none;
      }
    }
  }

  h2 {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 49;
    color: $white;
  }

  // Next / Previous buttons
  .next-prev {
    display: none;
    position: relative;
    top: 10px;
    left: 0;

    span {
      display: none;
    }

    .prev {
      left: 10px;
    }

    .next {
      left: 40px;
    }

    .prev,
    .next {
      position: absolute;
      top: 10px;

      &:hover {
        border-radius: 50px;
        background-color: $grey-medium;
        text-decoration: none;

        &:after {
          color: $grey-medium;
        }
      }

      &:after {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 20px;
        text-align: center;
        font-family: 'icomoon';
      }
    }
  }

  // Pagination
  .pagination {
    right: 10px;
    top: 10px;
    position: absolute;

    a {
      border-radius: 50px;
      background-color: $grey-medium;
      display: block;
      float: left;
      width: 25px;
      height: 25px;
      color: $white;
      text-align: center;
      text-decoration: none;
      margin-left: 5px;
      line-height: 2;
    }

    // Active
    .selected {
      background-color: $color-primary;
      color: $white;
    }
  }

  h3 {
    margin: 3px 0;
    padding: 0;
    text-align: left;

    a {
      margin-right: 10px;
      color: $white;
    }
  }

  .article_image,
  .event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  .field-type-image {
    margin: 0 auto;
  }

  .article_image img,
  .event-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;

    @include media($mobile) {
      display: none;
    } 
  }

  .article_image .field-label,
  .event-image .field-label {
    display: none;
  }
}

// Horizontal accordion
//==========================================================================

.ding_nodelist-horizontal_accordion {
  background: $black;
  overflow: hidden;

  // Item
  .item {
    position: relative;
  }

  .item_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  // Icon
  .expand {
    border-radius: 50px;
    position: absolute;
    bottom: 75px;
    left: 10px;
    z-index: 10;
    display: block;
    background-color: $color-primary;
    color: $white;
    cursor: pointer;

    &:after {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 2;
      color: $white;
      content: '\e903';
      text-align: center;
      font-family: 'icomoon';
    }

    a {
      display: none;
    }
  }

  .slide-open {
    .expand {
      right: 10px;
      left: auto;

      &:after {
        content: '\e909';
      }
    }

    .image img {
      opacity: 1;
    }
  }

  // Image
  .image {

    a {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      background-color: $black;

      // Media mobile
      @include media($mobile) {
        width: 310px;
        height: 260px;
      }

      // Media tablet
      @include media($tablet) {
        width: 400px;
        height: 300px;
      }

      // Media notebook
      @include media($notebook) {
        width: 450px;
        height: 340px;
      }
    }

    img {
      opacity: .25;
      min-width: 100%;
      width: auto;
      height: 100%;
    }
  }

  // Data block
  .data {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: $white;

    span,
    .event-fee {
      margin-right: 5px;
    }

    a {
      color: $white;

      @include media($mobile) {
        white-space: nowrap; 
        width: 12em; 
        overflow: hidden;
        text-overflow: clip; 
      }
    }
  }

  // Caption
  .caption {
    overflow: hidden;

    h3 {
      max-height: 30px;
      margin: 5px 0;
    }
  }

  // Library info
  .library {
    overflow: hidden;
    max-height: 24px;

    > div {
      float: left;
    }
  }
}

// Nodelist vertical accordion
//==========================================================================
.ding_nodelist-vertical_accordion .va-slice {
  cursor: pointer;
}

.va-wrapper {
  position: relative;

  .ding_nodelist-items .news {
    background-color: $white;
    background-repeat: no-repeat;
  }

  .item {
    position: absolute;
    z-index: 10;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    &:first-of-type {
      border-top: 0;
    }
  }

  .va-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    background-image: $label-bg;
    width: 100%;

    &,
    h3,
    a {
      color: $white;
    }

    .label {
      margin-left: 0;
    }

    .inner-wrapper {
      margin: 10px;
    }
  }

  .active .va-content {
    visibility: visible;
  }

  .va-title {
    position: relative;
    z-index: 1;
  }

  // Media medium
  @include media($tablet) {
    .va-title {
      visibility: hidden;
    }

    .active .va-title {
      visibility: visible;
    }
  }
}

// Nodelist slider
//==========================================================================

.ding_nodelist-slider {
  position: relative;
  background-color: $white;
  padding-top: 10px;

  .item {
    min-height: 122px;
  }

  // Title
  .node {
    background: none;
    color: $black;
    padding: 0;
  }

  .item-body {
    margin-top: 10px;
  }

  .more a {
    color: $black;
  }

  .label {
    margin: 0;
  }

  .category {
    float: right;
    margin-top: 4px;
    padding-right: 10px;
  }

  .legend {

    @include media($notebook) {
      float: right;
      margin-bottom: 10px;
      padding-right: 2em;
    }

    // Media mobile
    @include media($tablet) {
      @include span(4 of 12);
      text-align: right;
    }

    span {
      display: block;
    }
  }

  // Carousel
  .ding_nodelist-items {
    float: right;
    margin-right: 40px;
    width: 600px;  margin-right: 40px;

    // Media medium
    @include media($tablet) {
      @include span (3 of 3);
      padding: 10px;
    }

    // Media medium
    @include media($mobile) {
      width: 600px;
      padding-left: 10px;
      padding-top: 0;
    }
  }

  // Item
  .item {
    margin-bottom: 10px;
  }

  // Node title
  h3.node-title {
    margin-bottom: 5px;

    a {
      color: $grey-dark;
    }
  }

  // Node text
  .node {
    margin-top: 0;
    padding-left: 0;
    width: 100%;    
  }

  // More link
  .more {
    margin-bottom: 5px;

    a {

      // Media medium
      @include media($tablet) {
        display: inline-block;
        padding: 5px 10px;
      }
    }
  }

  // Next ... prev buttons
  .next-prev {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 25px;

    span {
      display: none;
    }

    a {
      border-radius: 50px;
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      background-color: $color-primary;
      color: $white;

      &:hover {
        background-color: $grey-medium;
      }

      &:after {
        display: inline-block;
        width: 24px;
        height: 24px;
        color: $white;
        content: '\e905';
        text-align: center;
        font-family: 'icomoon';
      }
    }

    .next {
      bottom: 10px;

      &:after {
        content: '\e903';
        transform: rotate(90deg);
      }
    }

    .prev {
      top: 10px;

      &:after {
        content: '\e903';
        transform: rotate(-90deg);
      }
    }
  }
}

.ding_nodelist-slider {
  height: 400px;
  overflow: hidden;

  ul {
    li {
      list-style: none;

      .library {
        float: left;
        clear: left;

        .field-label {
          display: none;
        }

        .field-item a {
          display: inline-block;
        }
      }

      .item-price {
        display: inline-block;
        clear: left;
        padding-left: 5px;
      }
    }
  }

  .legend {
    float: left;
    width: 300px;
  }
}

// Taxonomy nodelist
//==========================================================================

.col3 .ding_nodelist-taxonomy .item .item-list-image,
.col4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.attachments-3-3 .ding_nodelist-taxonomy .item .item-list-image,
.tertiary-content .ding_nodelist-taxonomy .item .item-list-image,
.attachments-4-4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.ding_nodelist-taxonomy {
  background-color: $grey-light;
  padding: 15px;

  .event-list-leaf {
    background: $grey-medium;
    padding: 10px;

    .event-list-date-wrapper {
      display: inline-block;
      font-size: 75%;
      margin-right: 10px;
      min-width: 65px;
      text-align: center;
      vertical-align: top;

      .event-list-day {
        line-height: 16.8px;
        background-color: $color-primary;
        color: $white;
        display: block;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      }

      .event-list-inner-wrapper {
        background: $white;
      }

      .event-list-date {
        display: block;
        font-size: 130%;
        padding-top: 5px;
        margin-bottom: -10px;
      }

      .event-list-month {
        display: inline-block;
        font-size: 75%;
        min-width: 65px;
        text-align: center;
        vertical-align: top;
      }
    }

    .event-list-fulldate {
      color: rgba(0,0,0,0.7);
      display: inline-block;
      font-size: 130%;
      font-weight: normal;
      margin-top: 17px;
    }
  }

  .event-list-leaf ~ .item {
    .item-list-image,
    .item-library .field-label {
      display: none;
    }

    .item-details {
      display: block;
      padding: 10px;
      width: calc(100% - 20px);
      position: relative;
    }

    .item-title {
      font-size: 110%;
      margin-right: 25px;
      margin-bottom: 5px;
    }

    .item-body {
      display: none;
    }

    .item-library,
    .item-date,
    .item-price {
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      margin-right: 5px;
      float: left;
    }

    .event-arrow-link {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px;
    }
  }

  .item {
    background-color: $grey;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: table;
    position: relative;

    @include  media($mobile) { 
      display: block;  
          
    }

    .item-details {
      overflow: hidden;
      width: 550px; 
      
      @include  media($mobile) {
        width: auto;
      }
    }

    .item-byline {
     display: none;
    }

    .item-title {
      font-size: 120%;
      margin-bottom: 5px;

      @include  media($mobile) {
        padding-left: 10px;
      }
      a {
        font-weight: 700;
      }
    }

    .news-link {
      padding: 20px;
      float: right;
      display: inline;

      @include  media($mobile) {
        display: block;
      }
    }

    .item-body {
      margin-top: 1em;
      margin-bottom: 1em;

      @include  media($mobile) {
        color: rgba(0, 0, 0, 0.7);
        padding: 10px;
      }
    }

    .item-details,
    .item-list-image {
      padding: 20px;
    }

    .item-details,
    .item-list-image {
      display: table-cell;
      vertical-align: top;
    }

    .item-list-image {
      padding-right: 10px;
      width: 159px;

      img {
        width: 159px;
        height: auto;
        min-width: 159px;
      }
    }
  }
    // Media medium
  @include  media($mobile) {
    .item .item-list-image {
      display: none;
    }
  }
}


/* Tabroll tabs
   ========================================================================== */
.ding_nodelist-rolltab {
  border: none;

  &.ui-widget-content {
    background: transparent;
  }

  .ding_nodelist-items {
    border: none;
  }

  .ding_nodelist-rolltab-wrapper,
  #ding_nodelist-rolltab,
  ul.ui-tabs-nav, 
  li.ui-tabs-nav-item {
    border: none;
  }

  .ding_nodelist-rolltab-wrapper {
    ul.ui-tabs-nav,
    li.ui-tabs-nav-item {
      background: transparent;

      a {
        padding-left: 0;
      }

      &.ui-state-default {
        @include media($mobile) {
          display: none;
        }
      }

      &.ui-state-active {
        span {
          border-bottom: solid 3px $color-text-link;
          padding-bottom: 5px;
        }

        @include media($mobile) {
          display: block;
        }
      }
    }

    ul.ui-tabs-nav {
      padding-bottom: 5px;
    }

    .ui-tabs,
    div.ui-tabs-panel {
      padding: 0;
    }

    div.image {
      min-height: 351px;
      span.no-image {
        background-color: $white;
        width: 100%;
      }
    }

    .info {
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent 0%,  $grey-transparent-bg 100%);
      font-size: 18px;
      line-height: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;
      padding-bottom: 25px;

      h3 {
        margin: 0;
        font-size: 30px;

        a {
          color: $white;
          display: block;
          margin: 0;
          padding: 40px 15px 15px;
        }
      }

      p {
        float: left;
        display: block;
        margin-bottom: 0;
        padding: 0 15px;
        width: 50%;
        font-size: 20px;
        font-weight: bold;

        @include media($mobile) {
          width: auto;
        }
      }
    }
  }
}

// Promoted nodes
//==========================================================================
.ding_nodelist-promoted_nodes {
  width: inherit;

  .first-row,
  .last-row {
    display: block;
    height: 300px;
  }

  .first-row {
    margin-bottom: 20px;
  }

  .ding_nodelist-pn-item {
    padding: 5px;
    position: relative;
    box-sizing: border-box;

    h3 {
      font-size: 120%;
      margin-bottom: 10px;

      @include  media($mobile) {
        font-size: 100%;
      }

      a {
        opacity: 1;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .item-date,
    .item-price {
      font-size: 100%;

      @include  media($mobile) {
        font-size: 100%;
      }
    }

    .library,
    .item-body,
    .read-more a {
      display: none;
    }
  }

  .read-more {
    a {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      padding: 0 45px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .last-right-block,
  .first-left-block {
    color: $white;
    height: 300px;
    @include span(3 of 5);
    padding: 0;
    margin-right: 0;

    a {
      color: $white;
    }

    .news-info,
    .event-info {
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent 0%,  $grey-transparent-bg 100%);
      font-size: 18px;
      line-height: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;
      padding-bottom: 25px;
      padding-left: 10px;
    }

    @include  media($mobile) {
      @include span(3 of 3);
      clear: both;
      height: 100%;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  .last-right-block,
  .first-right-block {
    margin-left: 20px;

    @include  media($mobile) {
      margin-left: 0;
    }
  }

  .last-left-block,
  .first-right-block {
    color: $grey-dark;
    height: 220px;
    @include span(3 of 9);
    margin-right: 0;
  
    .ding_nodelist-pn-item  {
      padding: 0;
    }

    h3 {
      margin-bottom: 5px;
      margin-top: 5px;
      a {
        color: $color-text;
      }
    }

    a.label {
      margin: 0;
      color: $grey-dark;
    }

    @include  media($mobile) {
      @include span(3 of 3);
      clear: both;
      height: 300px;
      margin-bottom: 10px;
    }
  }

  .ding_nodelist-pn-item {
    height: 100%;
  }
}

// Nodes blocks
//==========================================================================

.ding_nodelist-node_blocks {
  margin-left: -10px;
  margin-right: -10px;
  width: inherit;

  .ding_nodelist-items {
    .nb-item {
      height: auto;
      margin-bottom: 20px;
      text-shadow: 0 0 1px rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      display: block;
      @include span(1 of 1);

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        @include span(3 of 9.2);
      }

      &:nth-child(4),
      &:nth-child(8) {
       float: right;
      }

      .nb-image{
        min-height: 263px;
        background: #fff;

        img {
          width: 100%;
        }

        @include media($mobile) {
          min-height: 80px;
          background: #fff;
        }
      }

      .nb-inner {
        padding: 10px;
        height: auto;
      }

      .nb-event-date,
      .nb-news-date {
        color: $color-text;
        font-weight: bold;
      }

      .nb-library a,
      .nb-event-info {
        color: $color-text;

        span {
          display: block;
        }
      }

      .nb-category {
        .field-item,
        a.label {
          color: $grey-dark;
          padding-bottom: 10px;
          margin: 0;
        }
      }

      .nb-library {
        .field-label {
          display: none;
        }
        a {
          text-decoration: none;
        }
      }

      h3 a {
        color: $color-text-link;
      }

      &.ding_event h3,
      &.ding_news h3 {
        margin-bottom: 10px;
      }

      &.ding_event .nb-inner {
        background: $grey;
        color: $white;
      }

      &.ding_news .nb-inner {
        background: $grey;
        color: $white;
      }

      @include  media($mobile) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          @include span(3 of 3);
          clear: both;
          margin-top: 10px;
        }
      }
    }
  }
}

// Minimal nodelist
//==========================================================================

.ding_nodelist-minimal-items {
  .minimal-item {
    display: inline-block;
    width: 100%;
    margin-bottom: -.46em;

    .minimal-title {
      float: left;
      padding: 6px 10px 0 10px;
      a {
        display: inline-block;
        font-weight: bold;
        color: $black;
      }
    }

    .minimal-date {
      float: right;
      padding: 10px 20px 0 0;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .even {
    background: $grey-light;
  }

  .odd {
    background: $grey;
  }
}

.pane-ding-nodelist {
  .pane-content {
    height: 100%;
  }

  .ding_nodelist-minimal_display
  .minimal-item .minimal-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;

    @include media($mobile) {
      max-width: 12em;
    }
  }
}
